html {
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  display: inline-block;
  padding: 10px;
}

.slide {
  background: #444;
  width: 50vw;
  height: 50vh;
  color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.one {
  background: orangered;
}
.two {
  background: green;
}
.three {
  background: dodgerblue;
}
